.background--transparent
    background-color: #ef85535c //    #ffeae6
    padding: 1em
    border-radius: 15px

.helper__text--white__backgroud--red
    background-color: #fc473e 
    color: white
    border-radius: 15px
